@model IEnumerable<EmployeeManagement.Models.Employee>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <table>
       <thead>
           <tr>
               <th>Id</th>
               <th>Name</th>
               <th>Email</th>
               <th>Department</th>
           </tr>
       </thead>
        <tbody>
            @foreach(EmployeeManagement.Models.Employee employee in Model)
            {
            <tr>
                <td>@employee.Id</td>
                <td>@employee.Name</td>
                <td>@employee.Email</td>
                <td>@employee.Department</td>
            </tr>
            }
        </tbody>
    </table>
</body>
</html>