@model IEnumerable<EmployeeManagement.Models.Employee>

@{     
    ViewBag.Title = "Employee List";
}

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Department</th>
        </tr>
    </thead>
    <tbody>
        @foreach (EmployeeManagement.Models.Employee employee in Model)
        {
            <tr>
                <td>@employee.Id</td>
                <td>@employee.Name</td>
                <td>@employee.Email</td>
                <td>@employee.Department</td>
            </tr>
        }
    </tbody>
</table>
